.chat-menu {
    min-height: 100%;
    padding: 0 0.5rem;
    border-right: 3px solid lightgray;
    font-family: 'lato', sans-serif;
}

.chat-menu:nth-child(2) {
    margin-top: -0.5rem;
}

.chat-selector {
    padding: 0.2rem 1rem;
    border-bottom: 1px solid darkslategray;
}

.chat-selector p {
    margin: 0.5rem 0;
}
.chat-selector .chat-title {
    font-size: 1rem;
    font-weight: 600;
    color: black;
    text-overflow: ellipsis;
}
.chat-selector .chat-time {
    font-size: 0.8rem;
    color: darkslategray;
    float: right;
}

.chat-selector:hover,
.chat-selector:active {
    background-color: #ededed;
    cursor: pointer;
    transition: 0.2s ease-out;
}


.chat-dialog {
    font-size: 1rem;
    color: black;
    text-overflow: ellipsis;
    overflow: hidden;
    line-clamp: 2;
    -webkit-line-clamp: 2;
}

.bot-name {
    font-size: 1.25rem;
    padding: 1.5rem 1rem;
    margin: 0;
    text-align: center;
    border-bottom: 1px dotted darkslategray;
}