.chat-selector {
    padding: 0.25rem 0.5rem;
    border-bottom: 1px solid darkslategray;
}

.chat-title {
    font-size: 1.25rem;
    font-weight: 400;
    color: black;
}

.chat-dialog {
    font-size: 1rem;
    color: black;
    text-overflow: ellipsis;
    overflow: hidden;
    line-clamp: 2;
    -webkit-line-clamp: 2;
}